* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1 {
    text-align: center;
    margin: 0.5rem 0 0.5rem 0;
    font-size: "3rem"
  }
  
  .accordion {
    width: 100%;
    margin: 3rem 0rem 1rem 0rem;
    position: relative;
  }
  .accordion-item{
    border-radius: 100px;
    margin-bottom: 10px;
  }
  
  .accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #B4CDE6;
    border-radius: 3px;
    border-bottom: 10rem;
  }
  
  .accordion-title h1 {
    font-size: "2rem";
  }
  .accordion-title:hover {
    background-color: #628E90;
  }
  
  .accordion-title,
  .accordion-content {
    padding: 1rem;
  }
  
  .accordion-content {
    background-color: #F5EFE6;
    border-radius: 0.5rem;
  }
  
  @media screen and (max-width: 700px) {
    body {
      font-size: 18px;
    }
  
    .accordion {
      width: 90%;
    }
  }